@tailwind base;
@tailwind utilities;
@tailwind components;


.bash{
    @apply block w-[100%] bg-[#111111] rounded-md text-[#c0baba] px-5 py-2 my-4;
    font-weight: 600;
    font-size : 0.90rem;
    box-shadow: -4px 4px 2px #222121;
    max-width: max-content;
};

.pre{
  @apply text-blue-600 mt-6 mb-2 text-2xl font-mono font-bold;
}

.pre-img{
  @apply my-2 rounded-md;
}

.pre-p{
  @apply font-mono text-[1.1rem];
}
